/*Variables*/

$white: #FFFFFF;
$base: #4A4A4A;
$border: lightgrey;
$nav-link: rgba(74, 74, 74, 0.5);
$nav-link-hover: rgba(235, 235, 235, 0.5);
$nav-link-hover-naked: rgba(0,0,0,0);

$transition: 0.1s all ease-in-out;
$radial-gradient: radial-gradient(50% 100%, #FFFFFF 50%, rgba(255,255,255,0.82) 100%);
$box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);

/*Colors*/
$primary: rgba(245, 166, 35, 1);
$primary-75: rgba(245, 166, 35, 0.75);
$primary-50: rgba(245, 166, 35, 0.5);
$primary-25: rgba(245, 166, 35, 0.25);
$primary-lite: #ffc066;
$secondary: rgba(251, 218, 97, 1);
/*Social Colors*/
$linkedin: #0073b1;
$github: #24292e;
$behance: #0057ff;
$freecodecamp: darkgreen;
$resume: $primary;

/*Gradients*/
$works-gradient: linear-gradient(-217deg, #FBDA61 0%, #F67423 100%);
$philo-gradient: linear-gradient(-217deg, #99FB61 0%, #13D5C5 100%);
$work-with-gradient: linear-gradient(-39deg, #6176FB 0%, #F64BC7 100%);
$silver-gradient: linear-gradient(0deg, #FFFFFF 75%, #E9E9E9 100%);
$contact-gradient: linear-gradient(-217deg, #FDD956 0%, #F2B716 100%);

/*Angles*/
$angle1: polygon(0 0, 100% 0, 100% 87%, 0 100%);

/*Shadows*/
$text-shadow:  0 2px 4px rgba(0,0,0,0.20);
$box-shdaow: 0 2px 4px 0 rgba(0,0,0,0.1) inset 0 1px 3px 0 rgba(0,0,0,0.1);

/*Rotation*/
$title-rotate: rotate(-1deg);

/*Opacity*/
$opacity: 0.8;

/*Titles*/
$bold: 800;
$display-1: 3em;
$title-box-sm: 150px;
$title-box-md: 300px;


/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
* {
  margin: 0;
  padding: 0;
}

/*Mobile Nav*/

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative
}

html,
body {
  height: 100%;
}

/*Theme OG K*/
.k-theme-og {
  /*Hero Gradient*/
  .gradient {
  background: $silver-gradient;
  }
}


/*HTML Elements*/

.k-theme-og {
  .btn {
    border-radius: 50px;
  }
  .btn-primary {
    background: $primary-75;
    border: 1px solid $primary;
  }
  .btn-primary:hover {
    cursor: pointer;
    background: $primary;
    border: 1px solid $primary;
  }
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /*Links*/
  a {
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    color: $primary !important;
    transition: $transition;
  }
  a:hover {
    color: $primary !important;
    text-decoration: none;
    background: none;
    border-bottom: 4px solid $primary;
    transition: $transition;
  }
}

/*Form*/
.k-theme-og {
  .form-cont {
    input[type="text"],
    textarea {
      background: rgba(220,220,220,0.10);
      border: 1px solid #EFEFEF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      border-radius: 3px;
    }
    input[type="text"]:focus,
    textarea:focus {
      border: 1px solid $primary;
      background: $primary-25;
      color: black;
    }
    input[type=range] {
      /*removes default webkit styles*/
      -webkit-appearance: none;

      /*fix for FF unable to apply focus style bug */
      border: 1px solid white;

      /*required for proper track sizing in FF*/
      max-width: 350px;
      position: relative;
      top: 8px;
    }

    /* Webkit, Chrome & Safari */
    input[type=range]::-webkit-slider-runnable-track {
      width: 300px;
      height: 1px;
      background: #ccc;
      border: none;
      border-radius: 3px;
    }
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: $primary;
      margin-top: -7px;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: $primary;
    }
    input[type=range]::-moz-range-track {
      width: 150px;
      height: 5px;
      background: #ccc;
      border: none;
      border-radius: 3px;
    }
    input[type=range]::-moz-range-thumb {
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: $primary;
    }
    input[type=range]::-moz-range-progress {
      background: $primary;
      border-radius: 10px;
      height: 1px;
    }

    /*hide the outline behind the border*/
    input[type=range]:-moz-focusring{
      outline: 1px solid $primary;
      outline-offset: -1px;
    }


    /* Microsoft */
    input[type=range]::-ms-track {

      height: 1px;
      /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
      background: transparent;

      /*leave room for the larger thumb to overflow with a transparent border */
      border-color: transparent;
      border-width: 6px 0;

      /*remove default tick marks*/
      color: transparent;
    }
    input[type=range]::-ms-thumb {
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: $primary;
      margin-top: 1px;
    }
    input[type=range]::-ms-fill-lower {
      background: #33ccff;
      border-radius: 10px;
      height: 1px;
    }
    input[type=range]::-ms-fill-upper {
      background: $primary;
      border-radius: 10px;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: $primary;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: $primary;
    }
  }
}

/*Custom Styles*/

/*Mobile Navigation*/
.csstransforms .cn-wrapper {
  font-size: 1em;
  width: 26em;
  height: 26em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  top: -13em;
  left: 50%;
  border-radius: 50%;
  margin-left: -13em;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.csstransforms .opened-nav {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transform: rotate(180deg);
}

.cn-wrapper {
  #logo,
  #contact,
  #works,
  #philosophy,
  #experience {
    color: $primary;
  }
  #logo {
    display: flex;
    justify-content: flex-start;
    transform: scale(1) rotate(98deg);
    transition: 0.25s all ease-in-out;
    width: 52px;
    position: relative;
    top: -19px;
    left: 164px;
  }
  #contact {
    transform: rotate(-166deg);
  }
  #works {
    transform: rotate(146deg);
  }
  #philosophy {
    transform: rotate(180deg);
  }
  #experience {
    transform: rotate(130deg);
  }
}

.cn-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2;
}

.cn-overlay.on-overlay {
  visibility: visible;
  opacity: 1;
}

.cn-button:focus {
  outline: 0;
}
.cn-button {
  border: none;
  background: none;
  color: $primary;
  text-align: center;
  font-size: 1.8em;
  padding-top: 1em;
  height: 3.5em;
  width: 3.5em;
  background-color: #fff;
  position: fixed;
  left: 50%;
  margin-left: -1.75em;
  /* bottom: -1.75em; */
  border-radius: 50%;
  cursor: pointer;
  z-index: 11;
  top: -1.75em;
  box-shadow: $box-shadow;
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus {
  color: $primary;
}

.csstransforms .cn-wrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  transition: border .3s ease;
}

.csstransforms .cn-wrapper li a {
  display: block;
  font-size: 1.18em;
  height: 14.5em;
  width: 14.5em;
  position: absolute;
  bottom: -7.25em;
  right: -7.25em;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  padding-top: 1.8em;
  text-align: center;
  -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
  -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
  -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
  transform: skew(-50deg) rotate(-70deg) scale(1);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, color 0.3s;
  -moz-transition: opacity 0.3s, color 0.3s;
  transition: opacity 0.3s, color 0.3s;
}

.csstransforms .cn-wrapper li a span {
  font-size: 1.1em;
  opacity: 0.7;
}

/* for a central angle x, the list items must be skewed by 90-x degrees */
/*in our case x=40deg so skew angle is 50deg*/
/*items should be rotated by x, minus (sum of angles - 180)2s */

.csstransforms .cn-wrapper li:first-child {
  -webkit-transform: rotate(-10deg) skew(50deg);
  -ms-transform: rotate(-10deg) skew(50deg);
  -moz-transform: rotate(-10deg) skew(50deg);
  transform: rotate(-10deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(2) {
  -webkit-transform: rotate(30deg) skew(50deg);
  -ms-transform: rotate(30deg) skew(50deg);
  -moz-transform: rotate(30deg) skew(50deg);
  transform: rotate(30deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(3) {
  -webkit-transform: rotate(70deg) skew(50deg);
  -ms-transform: rotate(70deg) skew(50deg);
  -moz-transform: rotate(70deg) skew(50deg);
  transform: rotate(70deg) skew(50deg)
}

.csstransforms .cn-wrapper li:nth-child(4) {
  -webkit-transform: rotate(110deg) skew(50deg);
  -ms-transform: rotate(110deg) skew(50deg);
  -moz-transform: rotate(110deg) skew(50deg);
  transform: rotate(110deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(5) {
  -webkit-transform: rotate(150deg) skew(50deg);
  -ms-transform: rotate(150deg) skew(50deg);
  -moz-transform: rotate(150deg) skew(50deg);
  transform: rotate(150deg) skew(50deg);
}

.csstransforms .cn-wrapper li:nth-child(odd) a {
  background-color: rgba(255,255,255,0.5);
  img {
    color: white;
  }
  i:before {
    color: white;
  }
}

.csstransforms .cn-wrapper li:nth-child(even) a {
  background-color: rgba(255,255,255,0.3);
  i:before {
    color: white;
  }
}

/* active style */
.csstransforms .cn-wrapper li.active a {
  background-color: #b31515;
  background-color: hsla(0, 88%, 70%, 1);
}


/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
  background-color: rgba(255,255,255,1);
  transition: 0.25s all ease-in-out;
  i:before {
    color: $primary;
  }
}
.csstransforms .cn-wrapper li:not(.active) a:focus
{
    position:fixed;
}


/* fallback */
.no-csstransforms .cn-button {
  display: none;
}

.no-csstransforms .cn-wrapper li {
  position: static;
  float: left;
  font-size: 1em;
  height: 5em;
  width: 5em;
  background-color: #eee;
  text-align: center;
  line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
  border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child {
  border: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
  background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff;
}

.no-csstransforms .cn-wrapper {
  font-size: 1em;
  height: 5em;
  width: 25.15em;
  bottom: 0;
  margin-left: -12.5em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  left: 50%;
  border: 1px solid #ddd;
}

/*Body K Theme OG*/
.k-theme-og {
  /*Nav K Theme OG*/
  .nav-cont {
    position: relative;
     /*Links*/
    a {
      font-family: inherit;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color: $nav-link !important;
      transition: $transition;
    }
    a:hover {
      color: $primary !important;
      background: $nav-link-hover;
      box-shadow:  0 2px 4px 0 rgba(0,0,0,0.1), inset 0 1px 3px 0 rgba(0,0,0,0.1);
      border-bottom: 4px solid $primary;
      transition: $transition;
    }
  }
/*Section Titles*/
  .title-cont {
    height: $title-box-sm;
    opacity: $opacity;
    clip-path: $angle1;
    color: $white;
    font-size: $display-1;
    font-weight: $bold;
    h1 {
      line-height: 150px !important;
      font-family: HiraKakuStd-W8, 'Archivo Black', sans-serif;
      font-size: 32px;
      color: #FFFFFF;
      text-shadow: $text-shadow;
      transform: $title-rotate;
    }
  }
  /* Hero */
  .hero {
    padding-top: 94px;
    .hero-title {
      text-transform: uppercase;
      text-align: center;
      font-size: 48px;
      font-weight: $bold;
      span {
        color: $primary;
      }
    }
    .hero-subtitle {
      text-align: center;
      font-weight: 100;
      span {
        font-weight: $bold;
      }
    }
    .hero-img {
      margin: auto;
      display: block;
    }
  }
  /*Intro*/
  .intro {
    color: $white;
    text-shadow: $text-shadow;
  }
  .intro-bg {
    background: $works-gradient;
    opacity: $opacity;
    clip-path: $angle1;
  }
  .personal-bio {
    .mars-social {
      /*Links*/
      a {
        color: $base !important;
      }
      .linkedin:hover {
        color: $linkedin;
        border-bottom: 4px solid $linkedin;
        transition: $transition;
        i {
          color: $linkedin;
        }
      }
      .github:hover {
        color: $github;
        border-bottom: 4px solid $github;
        transition: $transition;
        i {
          color: $github;
        }
      }
      .behance:hover {
        color: $behance;
        border-bottom: 4px solid $behance;
        transition: $transition;
        i {
          color: $behance;
        }
      }
      .freecodecamp:hover {
        color: $freecodecamp;
        border-bottom: 4px solid $freecodecamp;
        transition: $transition;
        i {
          color: $freecodecamp;
        }
      }
      .resume:hover {
        color: $primary;
        border-bottom: 4px solid $primary;
        transition: $transition;
        i {
          color: $primary;
        }
      }
      a:hover {
        text-decoration: none;
        background: none;

      }
    }
  }
  /*Experience*/
  .work-with-bg {
    background: $philo-gradient;
  }
  /*Philosophy*/
  .philo-bg {
    background: $philo-gradient;
  }
  /*Works*/
  .works-bg{
    background: $works-gradient;
  }
  .k-logo-white {
    position: relative;
    top: -8px;
    transform: rotate(2deg);
    display: inline-block;
    img {
      width: 42px;
    }
  }
  /*Portfolio Items*/
  .portfolio-cont {
    .item-meta {
      h6 {
        font-weight: bold;
        margin-bottom: 0;
        color: $primary-50;
        span {
          margin-right: 8px;
          color: $primary;
        }
      }
      small {
        color: lightgrey;
      }
    }
  }
   /*Work With Us*/
  .work-with-bg{
    background: $work-with-gradient;
  }
  /*Contact*/
  .contact-bg {
    background: $contact-gradient;
  }
  .portfolio-list {
    li {
      margin-bottom: 24px;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}

.k-theme-og {
  /*Nav k-theme-og*/
  .main-nav {
    height: 60px;
    background: rgba(244,244,244,0.80);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    .nav-cont {
       display: flex;
      justify-content: flex-end;
      a {
        align-items: center;
        display: flex;
      }
    }
  }
  /*Body*/
  /*Hero*/
  .hero {
    min-height: 400px;
    border-bottom: 1px solid #f1f1f1;
  }
  /*Intro*/
  .intro {
  }
  .intro-bg {
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  }
  /*Personal Bio*/
  .personal-bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .mars-avatar {
      display: flex;
      margin: auto;
      width: 240px;
      height: 240px;
      border-radius: 100%;
      border: 1px solid light-grey;
    }
    .mars-social {
      margin: auto;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li {
        margin-right: 16px;
        a {
          width: 48px;
          height: 48px;
          padding: 10px;
          font-size: 1.25em;
          display: inline-block;
          text-align: center;
        }
        a:hover {
          padding: 10px;
          border-radius: 100%;
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}



//
// Small devices (landscape phones, 576px and up)
//

@media screen and (min-width: 576px) {
  /*Nav*/
  .k-theme-og {
    .logo-cont {
      width: 148px;
      height: 148px;
      border-radius: 100%;
      position: absolute;
    }
  }
  /*Hero*/
  .k-theme-og {
    .hero {
      .hero-title {
        font-size: 64px;
      }
    }
    /*Section Titles*/
    .title-cont {
      height: $title-box-md;
      h1 {
        font-size: 64px;
        line-height: 300px !important;
      }
    }
    /*Works*/
    .k-logo-white {
      top: -10px;
      img {
        width: 70px;
      }
    }
  }
}

//
// Medium devices (tablets, 768px and up)
//

@media (min-width: 768px) {
  .k-theme-og {
    .nav-cont {
      .logo-cont {
       width: 148px;
       height: 148px;
       border-radius: 100%;
       background-image: $radial-gradient;
       box-shadow: $box-shadow;
       position: absolute;
       left: 0;
       top: -40px;
       z-index: 100;
     }
     a:hover {
      background: $radial-gradient;
     }
     #logo {
       display: flex;
       justify-content: flex-start;
       transform: scale(1) rotate(-7deg);
       transition: 0.25s all ease-in-out;
       width: 72px;
       position: relative;
       top: 20px;
       left: 40px;
     }
     #logo:hover {
       background: $nav-link-hover-naked;
       transform: scale(1.2) rotate(360deg);
     }
    }
   }
  /*Section Titles*/
  .k-theme-og {
    .title-cont {
      h1 {
        font-size: 88px;
      }
    }
    /*Works*/
    .k-logo-white {
      top: -12px;
      img {
        width: 90px;
      }
    }
  }
}

//
// Large devices (desktops, 992px and up)
//

// @media (min-width: 992px) {  }

//
// Extra large devices (large desktops, 1200px and up)
//

// @media (min-width: 1200px) {}
